@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }


/* === INPUT:SUBMIT BUG FIX === */
input.ui-button { background: url(/images/aristo/button_bg.png) 0px 0px repeat-x !important; color: #4f4f4f; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #b6b6b6; outline: none; }

input.ui-button:hover { background: url(/images/aristo/button_bg.png) 0px 0px repeat-x !important; color: #313131; border-color: #9d9d9d; -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 0px 8px #d4d4d4; box-shadow: 0px 0px 8px #d4d4d4; }

input.ui-button:active { background: url(/images/aristo/button_bg.png) 0px bottom repeat-x !important; color: #4f4f4f; border-color: #b6b6b6; }

/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }


html, body { height: 100%; }

div.blockUI { -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; opacity: 0.8; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); }

body { background: #252525; color: #666666; font-family: "Lucida Grande", Verdana, sans-serif; font-size: 12px; line-height: 20px; }
body.tiny .wrapper { width: 560px !important; }
body .hidden { display: none; }
body .big-description { font-family:"co Trebuchet MS", Arial, sans-serif; font-size: 19px; line-height: 25px; text-align: justify; }
body .big-description p { margin-bottom: 15px; }
body .big-description p:last-child { margin-bottom: 0px; }
body a { color: #008ee8; text-decoration: none; outline: none; }
body a:hover { color: #ec8526; text-decoration: none; }
body .boardd-logo { font-size: 70px; line-height: 70px; text-align: center; margin-bottom: 0px; margin-top: 20px; font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; color: #999999; text-shadow: black 0px 5px 2px; text-align: center; }
body .boardd-logo span { padding-left: 70px; background: url(/images/logo.png) no-repeat left center; }
body .boardd-logo span span { color: white; background: none; padding-left: 0px; }
body #hld .menu-hud { background: rgba(0, 0, 0, 0.4); color: #aaaaaa; height: 30px; line-height: 30px; margin-bottom: 20px; font-size: 12px; }
body #hld .menu-hud ul { padding: 0px 15px; }
body #hld .menu-hud ul li { float: right; margin-left: 10px; }
body #hld .menu-hud ul li a { color: #aaaaaa; text-decoration: underline; }
body #hld .menu-hud ul li a:hover { color: #cccccc; }
body #hld .wrapper { margin: 0 auto; width: 960px; overflow: hidden; *zoom: 1; }

.full-width-button { padding-bottom: 5px; margin-bottom: 25px; clear: both; background: white url(/images/admin/bnd.gif) bottom center repeat-x; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; -moz-box-shadow: black 0px 3px 6px 0; -webkit-box-shadow: black 0px 3px 6px 0; -o-box-shadow: black 0px 3px 6px 0; box-shadow: black 0px 3px 6px 0; height: 54px; line-height: 54px; background: #323537; border-top: 1px solid #44494d; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(97.959%, #0088be), color-stop(100%, #0079b6)); background-image: -moz-linear-gradient(top, #0088be 48%, #0079b6 49%); background-image: linear-gradient(top, #0088be 48%, #0079b6 49%); overflow: hidden; text-shadow: #111111 0px -1px 0px; font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; font-size: 26px; font-weight: normal; color: #dddddd; text-align: center; display: block; border-width: 0px; width: 100%; cursor: pointer; }
.full-width-button:hover { background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(97.959%, #0092cd), color-stop(100%, #0080c0)); background-image: -moz-linear-gradient(top, #0092cd 48%, #0080c0 49%); background-image: linear-gradient(top, #0092cd 48%, #0080c0 49%); }
.full-width-button a { color: #dddddd; }
.full-width-button a:hover { color: white; }

.block { padding-bottom: 5px; margin-bottom: 25px; clear: both; background: white url(/images/admin/bnd.gif) bottom center repeat-x; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; -o-border-top-left-radius: 8px; -ms-border-top-left-radius: 8px; -khtml-border-top-left-radius: 8px; border-top-left-radius: 8px; -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; -o-border-top-right-radius: 8px; -ms-border-top-right-radius: 8px; -khtml-border-top-right-radius: 8px; border-top-right-radius: 8px; -moz-box-shadow: black 0px 3px 6px 0; -webkit-box-shadow: black 0px 3px 6px 0; -o-box-shadow: black 0px 3px 6px 0; box-shadow: black 0px 3px 6px 0; margin-bottom: 20px; padding-bottom: 5px; float: none; margin: 0 auto; }
.block .block_head { height: 54px; line-height: 54px; background: #323537; border-top: 1px solid #44494d; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(97.959%, #323537), color-stop(100%, #2b2e31)); background-image: -moz-linear-gradient(top, #323537 48%, #2b2e31 49%); background-image: linear-gradient(top, #323537 48%, #2b2e31 49%); overflow: hidden; padding: 0px 20px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; text-shadow: #111111 0px 1px 1px; }
.block .block_head h2 { font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; font-size: 26px; font-weight: normal; color: #dddddd; float: left; }
.block .block_head ul { float: right; text-transform: uppercase; font-size: 11px; font-weight: bold; }
.block .block_head ul li { display: inline; padding: 3px 0; padding-left: 20px; background: url(/images/admin/phs.gif) 7px center no-repeat; }
.block .block_head ul li.nobg { background: none; }
.block .block_head ul li a { text-decoration: none; color: #dddddd; outline: none; }
.block .block_head ul li.active a { color: #cccccc; }
.block .block_head ul li a:hover { color: white; }
.block .block_head form { float: right; padding: 15px 0; height: 34px; line-height: 24px; }
.block .block_head form .text { width: 129px; height: 15px; padding: 5px 10px 5px 25px; border: 0; font-size: 11px; color: #999999; margin: 0; background: url(/images/admin/srch.gif) left center no-repeat; }
.block .block_head form .text:focus { color: #666666; background: url(/images/admin/srch_.gif) left center no-repeat; }
.block .block_head select { text-transform: none; }

.block.small.center.login { width: 550px; background: white url(/images/admin/bnd.gif) bottom center repeat-x; margin-top: 35px; margin-bottom: 20px; }

form div.input { overflow: hidden; clear: both; padding-bottom: 15px; }
form .hint { font-size: 11px; line-height: 16px; display: block; color: #999999; margin-top: 3px; }
form label { font-size: 15px; font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; color: #555555; margin-right: 10px; vertical-align: middle; display: block; margin-bottom: 3px; }
form label.inline { display: inline; }
form label.required:after { content: "(required!)"; font-size: 12px; color: #999999; padding-left: 5px; }
form select { width: 100%; }
form input[type=text], form input[type=email], form input[type=password], form input[type=url] { width: 95%; background: #fefefe; border: 1px solid #bbbbbb; font-family: "Lucida Grande", Verdana, sans-serif; font-size: 20px; color: #333333; padding: 7px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; outline: none; vertical-align: middle; }
form input[type=text].required, form input[type=email].required, form input[type=password].required, form input[type=url].required { border: 2px solid #4095df; }
form textarea { width: 96%; height: 140px; padding: 7px; background: #fefefe; border: 1px solid #bbbbbb; font-family: "Lucida Grande", Verdana, sans-serif; font-size: 14px; color: #333333; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; outline: none; }
form textarea.wysiwyg { width: 98%; padding: 0; }
form input.radio, form input[type=checkbox] { display: inline; vertical-align: middle; }
form label.boolean { display: inline; }
form .check_boxes label.collection_check_boxes { float: left; }
form .check_boxes input { float: left; clear: left; }
form .error { font-size: 11px; font-weight: bold; color: #757575; vertical-align: middle; color: #e3302c; }

.block .block_content { overflow: hidden; background: white; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; padding: 20px 20px; }
.block .block_content h1, .block .block_content h2 { font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; font-size: 18px; font-weight: normal; color: #454545; margin-bottom: 10px; }
.block .block_content h3 { font-family: "Lucida Grande", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; color: #666666; margin-bottom: 5px; }
.block .block_content h4 { font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #666666; margin-bottom: 5px; }
.block .block_content ul { padding-left: 15px; padding-bottom: 15px; }
.block .block_content ol { padding-left: 15px; padding-bottom: 15px; list-style-position: inside; }
.block .block_content ul li { margin-bottom: 5px; padding-left: 15px; background: url(/images/admin/li.gif) 0 7px no-repeat; }
.block .block_content ol li { margin-bottom: 5px; }
.block hr { height: 1px; border: 0; background: no-repeat; border-bottom: 1px solid #dddddd; margin-bottom: 15px; }

#error_explanation { background-color : #FAFAD2; padding: 5px; }
#error_explanation h2 { font-weight: bold; }

#error_explanation ul { list-style: decimal; margin-left: 38px; }